aniso8601==1.2.1
beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
cliff==2.8.0
cmd2==0.7.6
-e ./
Flask==0.12.2
Flask-LogConfig==0.4.2
Flask-RESTful==0.3.6
idna==2.6
ipython==7.16.3
itsdangerous==0.24
Jinja2==2.9.6
logconfig==0.4.0
logutils==0.3.5
MarkupSafe==1.0
pbr==3.1.1
pdfkit==0.6.1
prettytable==0.7.2
PyJWT==1.5.2
pyparsing==2.2.0
PyPDF2==1.26.0
pyperclip==1.5.27
PySocks==1.6.7
python-dateutil==2.6.1
python-http-client==3.0.0
pytz==2017.2
PyYAML==3.12
requests==2.18.4
sendgrid==5.0.0
six==1.10.0
stevedore==1.25.0
twilio==6.5.2
urllib3==1.22
Werkzeug==0.12.2
git+https://github.com/johnfraney/wkhtmltopdf-pack.git@a4996edbd9ec1c9dfe316146e7fa17cc8f86a676#egg=wkhtmltopdf_pack