<!doctype html>
<html>
  <head>
    <title>HTML Email</title>
  </head>
  <body>
    <div class="page">
      <table>
        <tbody>
          <tr>
            <th>From</th>
            <td>{{from_}}</td>
          </tr>
          <tr>
            <th>To</th>
            <td>{{to}}</td>
          </tr>
          <tr>
            <th>Subject</th>
            <td>{{subject}}</td>
          </tr>
        </tbody>
      </table>
      <hr/>
      <div>
        {{html | safe}}
      </div>
    </div>
  </body>
</html>
